.stylemodal {
  overflow-y: auto;
  position: absolute;
  top: 5rem;
  left: 20%;
  width: 450px;
  min-height: 100px;
  max-height: 500px;
  border: 2px solid gray;
  background-color: rgb(174, 175, 176);
}
.Search {
  text-align: center;
}
