/* .modelselectimg {
  border: 1px solid red;
} */

.stylemodal {
  overflow-y: auto;
  position: absolute;
  top: 5rem;
  left: 20%;
  width: 600px;
  min-height: 100px;
  max-height: 500px;
  border: 2px solid gray;
  background-color: white;
}
.Search {
  text-align: center;
}
