#root {
  text-align: center;
  margin-top: -10rem;
  padding: 10rem;
}
.search {
  margin-top: 1rem;
}
.container {
  background-color: rgb(198, 200, 201);
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  padding-left: 10px;
}
.wrapper {
  display: inline-block;
  border-radius: 25px;
}
.img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin: 2rem;
}
.buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.select {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 300px;
  width: 300px;
  opacity: 0.1;
}

.btn1 {
  background-color: rgb(217, 200, 11);
}
.btn2 {
  background-color: rgb(172, 7, 18);
}
.btn3 {
  background-color: rgb(18, 218, 64);
}
.prevnext {
  width: 50px;
  display: flex;
  margin-right: 7rem;
}
.btn4 {
  background-color: rgb(233, 108, 255);
}
.btn5 {
  background-color: rgb(120, 109, 241);
}
#mySearch {
  width: 50%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}
.countimg {
  margin-right: 21rem;
}
img.img {
  width: 150px;
  height: 150px;
}
.dropdown {
  width: 200px;
  justify-content: flex-start;
  font-weight: bold;
  color: black;
}

select {
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}
