#root {
  text-align: center;
  margin-top: -11rem;
  padding: 10rem;
}
#mySearch {
  height: 100%;
  margin-top: 1rem;
  width: 95%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid whitesmoke;
  border-radius: 25px;
}
.container {
  width: 100%;
<<<<<<< HEAD
  height: 305vh;
=======
  height: 100%;
>>>>>>> f1b5d280666f13d5bbd5a9fa557d366374d1951f
  background-color: rgb(198, 200, 201);
  text-align: center;
  /* border: 2px solid gray; */
  border-radius: 10px;
  padding-left: 10px;
}
.wrapper {
  display: inline-block;
  border-radius: 25px;
}
.img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin: 2rem;
}
.buttons {
  margin-top: 0.5rem;
  display: flex;
  margin: 0.5rem;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.select {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 300px;
  width: 300px;
  opacity: 0.1;
}

.btn1 {
  background-color: rgb(217, 200, 11);
}
.btn2 {
  background-color: rgb(172, 7, 18);
  margin-right: 8rem;
}
.btn3 {
  background-color: rgb(18, 218, 64);
}
.prevnext {
  display: flex;
}
.btn4 {
  background-color: rgb(233, 108, 255);
  margin-left: 3rem;
}
.btn5 {
  background-color: rgb(120, 109, 241);
  margin-left: 2rem;
}

.countimg {
  margin-right: 21rem;
}
img.img {
  width: 150px;
  height: 150px;
}
.dropdown {
  width: 200px;
  justify-content: flex-start;
  font-weight: bold;
  color: black;
}

select {
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}
.loding {
  text-align: center;
}
input {
  outline: none;
}
